# OLD DATABASE
OLD_DB_HOST=db_host
OLD_DB_PORT=5432
OLD_DB_NAME=twrp_dev
OLD_DB_USER=shiyas
OLD_DB_PASSWORD=shiyas123

# NEW DATABASE
NEW_DB_HOST=db_host
NEW_DB_PORT=5432
NEW_DB_NAME=twrp_prod
NEW_DB_USER=shiyas
NEW_DB_PASSWORD=shiyas123

# OLD MONGO
OLD_MONGO_URI=mongodb://shiyas:shiyas123@localhost:27017
OLD_MONGO_DB=twrp_local
OLD_MONGO_COLLECTION=acs_events

# NEW MONGO
NEW_MONGO_URI=mongodb://shiyas:shiyas123@localhost:27017
NEW_MONGO_DB=twrp_dev
NEW_MONGO_COLLECTION=acs_events

# Photo / QR Storage Conf
STORAGE_BUCKET=twrp.vwatch.app
STORAGE_REGION=ap-south-1
STORAGE_ENDPOINT_URL=http://127.0.0.1:9000
STORAGE_PUBLIC_BASE_URL=
PHOTO_STORAGE_PREFIX=media/person/photos
QR_STORAGE_PREFIX=media/access_pass/qr_code
STORAGE_ACCESS_KEY_ID=shiyas
STORAGE_SECRET_ACCESS_KEY=shiyas123
STORAGE_SESSION_TOKEN=
STORAGE_VERIFY_SSL=true
